@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

.card{
    width: 286px;
}

.card:hover {
    box-shadow: 0 0 15px 1px ;
}
.img {
    width: 286px;
    height: 280px;
}

.divMain {
    display: flex;
}

.divText {
    margin-left: 10px;
}

.divText h3 {
font-family: 'Poppins', sans-serif;
}
.btndetali {
    display: flex;
    align-items: center;
    padding-left: 60%;
    padding-bottom: 5%;
    
}


.btnDetails {
    font-size: 16px;
    background: white;
    color: rgb(4, 145, 226);
    border: 2px solid rgb(4, 145, 226);
    border-radius: 4px;
    width: 100px;
    height: 35px;
    
    
}

.description {
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}




.btn2{
    
    background: #039c03cf;
    color: white;
    border: 1px;
    border-radius: 3px;
    height: 25px;
    width: 140px;
  
}

.btnDelete {
    color: red;
    background-color: white;
    border: solid white;
}

.btn2 :disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

.divDetails {
    display: flex;
    width: 185px;
    margin-left: 15px;
    background: #9e9e9e29;
    font-size: 14px;
}

.divDetailsText {
    padding: 10px;
}

.btndetX {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.divBtnX button {
    border: 1px;
    color: red;
}

.btnbtn {
    padding-top: 4%;
    padding-left: 3%;
}

.divbut {
    padding-bottom: 10px;
}